<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Life Expectancy Predictor</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #63cdda;">
        <a class="navbar-brand" href="#"><b>Life Expectancy Predictor</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://en.wikipedia.org/wiki/Cardiothoracic_surgery" target="_blank">Throacic surgery</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
<!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
-->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>


      <h1 class="text-center mt-3" style = "font-family:Roboto, sans-serif;">Life Expectancy Predictor</h1>
      <div class="p-5">


      <form class="container center_div text-center" action="/" method="POST">
  <div class="form-row text-center" >
      <div class="col-6 text-center">
    <label for="exampleFormControlInput1">FVC</label>
    <input type="text" class="form-control" id="FVC" name="FVC" placeholder="enter FVC value">
      </div>
      <div class="col-6">
    <label for="exampleFormControlInput1">AGE</label>
    <select class="form-control custom-select" id="AGE" name="AGE">
        <option value="0">0-20</option>
        <option value="1">21-40</option>
        <option value="2">41-60</option>
        <option value="3">61-80</option>
        <option value="4">80 and above</option>
        
        
      </select>
          </div>
          </div><br>
  <div class="form-row text-center ">
      <div class="col-3">
    <label for="exampleFormControlSelect1">Performance</label>
    <select class="form-control custom-select" id="Performance" name="Performance">
      <option value="0">Good</option>
      <option value="1">Okay</option>
      <option value="2">Poor</option>
    </select>
      </div>
      <div class="col-3">
    <label for="exampleFormControlSelect1">Haemoptysis</label>
    <select class="form-control custom-select" id="Haemoptysis" name="Haemoptysis">
      <option value="0">No</option>
      <option value="1">Yes</option>
      </select>
          </div>
       <div class="col-3">
    <label for="exampleFormControlSelect1">Cough</label>
    <select class="form-control custom-select" id="Cough" name="Cough">
      <option value="0">No</option>
      <option value="1">Yes</option>
      </select>
      <!-- <img src="lung_cancer.jpg" alt="lung_cancer"> -->
          </div>
          <div>
            
          </div>
  </div><br>
      <div class="form-row text-center">
          <div class="col-3">
    <label for="exampleFormControlSelect1">Dyspnoea</label>
    <select class="form-control custom-select" id="Dyspnoea" name="Dyspnoea">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
          </div>
          <div class="col-3">
            <label for="exampleFormControlSelect1">Tumor size</label>
    <select class="form-control custom-select" id="Tumor" name="Tumor">
      <option value="11">1</option>
      <option value="12">2</option>
      <option value="13">3</option>
      <option value="14">4</option>
      </select>  
          </div>
          <div class="col-3">
             <label for="exampleFormControlSelect1">Myocardial infarction</label>
    <select class="form-control custom-select" id="MI_6mo" name="MI_6mo">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select> 
          </div>
  </div><br>
      <div class="form-row text-center">
          <div class="col-3">
    <label for="exampleFormControlSelect1">Smoking</label>
    <select class="form-control custom-select" id="Smoking" name="Smoking">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    </div>
    <div class="col-3">
    <label for="exampleFormControlSelect1">Asthama</label>
    <select class="form-control custom-select" id="Asthama" name="Asthama">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
          </div>
          </div><br>
  <button class="btn" style="background-color: #63cdda;">Submit</button>
</form>  
          </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>